@model mis4200_sd2.Models.Song

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.songName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.songName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.songLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.songLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.songWriter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.songWriter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.songGenre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.songGenre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.songID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
