@model mis4200_sd2.Models.Label

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Label</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.labelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.labelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foundedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foundedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.labelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
